@use '../abstracts/variables';
@use '../abstracts/mixins';



.footer-bottom {
    padding: 1rem 0;
    color: black;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);


}

@include mixins.desktop {
    .container-footer {
        display: flex;
        flex-direction: column;
    }
}