.section-home {
    display: flex;
    height: 80vh;
    color: white;

    .section-home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3rem;
        }
    }
}

.section-title {
    display: flex;
    height: 20vh;

}

.principal-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    color: black;
    font-size: x-large;
    font-weight: inherit;

}

