.content-inscription {
  margin: 200px auto;
  width: 600px;
  height: 600px;
  z-index: 10;
  background-color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  color: white;
  font-weight: bold;

}

.content-inscription {
  flex-direction: column;
  align-items: center;

  h1 {

    }
}

