@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
    font-family: 'Russo One', sans-serif;
    scroll-behavior: smooth;

}

body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;

    font-family: 'Russo One', sans-serif;
}



main {
   min-height: 80vh;
}


