@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html, body {
    font-family: 'Russo One', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 99%
}

.back-to-top {
    z-index: 10;
}

.main {
    min-height:80vh;
}