@use '../abstracts/variables';

.btn1 {
       padding:  10px;
       margin-right: 0;
       font-size: 13px;
       border-radius: 3px;

}


.back-to-top {

       position: fixed;
       right: 0;
       bottom: 0;
       margin-bottom: 0.5rem;
       padding-right: 10px;

}